.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), #ffffff80),
    url("https://media.istockphoto.com/id/1267180172/photo/work-desk-with-computer-keyboard-and-trackpad.jpg?s=612x612&w=0&k=20&c=7zbeqtcUjKa3mO02hbDEceAbsRPJAqA7mfIHf-6E9rM=");
  background-size: cover; /* ce parametre fait que l'image couvren toute la page */
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(73, 73, 243);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(105, 105, 210);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
